<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <p id="notice"><%= notice %></p>

    <div class="userShow">

      <p>
        <span>Name:</span>
        
        <%= @contact.name %>
      </p>

      <p>
        <span>Email:</span>
        
        <%= @contact.email %>
      </p>

      <p>
        <span>Phone:</span>
        
        <%= @contact.phone %>
      </p>

      <p>
        <span>Address:</span>
        
        <%= @contact.address %>
      </p>

      <p>
        <span>Company:</span>
        
        <%= @contact.company %>
      </p>

      <p>
        <span>Birtday:</span>
        <%= @contact.birtday %>
      </p>

      <%= link_to 'Edit', edit_contact_path(@contact) %> |
      <%= link_to 'Back', contacts_path %>

    </div><!-- userShow -->

  </div><!-- cols -->

</div><!-- row -->